{% block title %}Modifier un partenaires{% endblock %}

{% block body %}
    
        <section class="container pt-4">
            <div class="row">
                <div class="col">

                    <h1>Modifier un partenaires</h1>
                        {{ form_start(partenairesForm) }}
                            <fieldset class="mb-3">
                                {{ form_row(partenairesForm.illustration) }}
                                {{ form_row(partenairesForm.titre) }} 
                                {{ form_row(partenairesForm.content) }}
                                
                                {{ form_row(partenairesForm.lien) }}
                                

                    <button type="submit" class="btn my-3" style="background-color: #D199B6" ;>Modifier le partenaires</button>
                    {{ form_end(partenairesForm) }}
                </div>
            </div>
        </section>

        {# {{ include('partenaires/_form.html.twig', {'button_label': 'Update'}) }} #}

        <a href="{{ path('partenaires.index') }}"class="btn btn-primary" style="background-color: #D199B6" >Retour à la liste</a>
{% endblock %}