{% block title %}Création article{% endblock %}

{% block body %}
    <section class="container position-relative">
        <div class="row">
            <div class="col">

                <h1>Création de nouveaux Articles</h1>
                    {{ form_start(articleForm) }}
                        <fieldset class="mb-3">
                            {{ form_row(articleForm.illustration) }}
                                {{ form_row(articleForm.titre) }} 
                                {{ form_row(articleForm.content) }}
                                {{ form_row(articleForm.autheur) }}
                                {{ form_row(articleForm.lien) }}
                                {{ form_row(articleForm.created_at) }}

                 <button type="submit" class="btn my-3" style="background-color: #D199B6" ;>Ajouter un article</button>
                {{ form_end(articleForm) }}
            </div>
        </div>
    </section>
               

    

    <a href="{{ path('articles.index') }}"class="btn btn-primary" style="background-color: #D199B6">back to list</a>
{% endblock %}