{% block title %}Articles{% endblock %}

{% block body %}
    <section class="container mx-autoposition-relative "> 
        

        <div class="show pt-5 text-center">
            <img src="{{ asset('upload/'~ article.illustration)}}" class="card-img-top rounded " alt="..." style="max-width: 800px; ">
            <div class="caption text-center pt-3">
                
                <h1 class="h1">{{ article.titre }}</h1>
                <p class="display-5"> {{ article.content }}€</p>
                <span class={{article.lien }}"display-6">Autheur : {{article.autheur }}</span>
                <a href="{{article.lien }}" ></a>
            </div>
        </div>
         {% if is_granted('ROLE_ADMIN')  %}
         <div class="show pb-5 pb-5 text-center">
            <a href="{{ path('articles.edit', {'id': article.id}) }}"class="btn btn-primary" style="background-color: #D199B6" >Modifier</a>
            <a href="{{ path('aarticles.delete', {'id': article.id}) }}"class="btn btn-primary" style="background-color: #D199B6" >Supprimer</a>
        </div>
        {% endif %}
        <div class="caption text-center pt-3 pb-5"><a href="{{ path('home') }}"class="btn btn-primary" style="background-color: #D199B6" >Revenir à l'accueil</a></div>
    </section>
   
    
   
{% endblock %}