{% block title %}Modifier un presse{% endblock %}

{% block body %}
    
        <section class="container pt-4">
            <div class="row">
                <div class="col">

                    <h1>Modifier un presse</h1>
                        {{ form_start(presseForm) }}
                            <fieldset class="mb-3">
                                {{ form_row(presseForm.illustration) }}
                                {{ form_row(presseForm.titre) }} 
                                {{ form_row(presseForm.content) }}
                                {{ form_row(presseForm.autheur) }}
                                {{ form_row(presseForm.lien) }}
                                {{ form_row(presseForm.created_at) }}

                    <button type="submit" class="btn my-3" style="background-color: #D199B6" ;>Modifier le presse</button>
                    {{ form_end(presseForm) }}
                </div>
            </div>
        </section>

        {# {{ include('presses/_form.html.twig', {'button_label': 'Update'}) }} #}

        <a href="{{ path('presses.index') }}"class="btn btn-primary" style="background-color: #D199B6" >Retour à la liste</a>
{% endblock %}