{% block title %}Modifier un projets{% endblock %}

{% block body %}
    
        <section class="container pt-4">
            <div class="row">
                <div class="col">

                    <h1>Modifier un projets</h1>
                        {{ form_start(projetsForm) }}
                            <fieldset class="mb-3">
                                {{ form_row(projetsForm.created_at) }}
                                {{ form_row(projetsForm.illustration) }}
                                {{ form_row(projetsForm.titre) }} 
                                {{ form_row(projetsForm.content) }}
                                
                                {{ form_row(projetsForm.lien) }}
                                {{ form_row(projetsForm.ended_at) }}

                    <button type="submit" class="btn my-3" style="background-color: #D199B6" ;>Modifier le projets</button>
                    {{ form_end(projetsForm) }}
                </div>
            </div>
        </section>

        {# {{ include('projets/_form.html.twig', {'button_label': 'Update'}) }} #}

        <a href="{{ path('projets.index') }}"class="btn btn-primary" style="background-color: #D199B6" >Retour à la liste</a>
{% endblock %}