{% block title %}Création projets{% endblock %}

{% block body %}
    <section class="container position-relative">
        <div class="row">
            <div class="col">

                <h1>Création de nouveaux projetss</h1>
                     {{ form_start(projetsForm) }}
                        <fieldset class="mb-3">
                                {{ form_row(projetsForm.created_at) }}
                                {{ form_row(projetsForm.illustration) }}
                                {{ form_row(projetsForm.titre) }} 
                                {{ form_row(projetsForm.content) }}
                                
                                {{ form_row(projetsForm.lien) }}
                                {{ form_row(projetsForm.ended_at) }}

                 <button type="submit" class="btn my-3" style="background-color: #D199B6" ;>Ajouter un projets</button>
                {{ form_end(projetsForm) }}
            </div>
        </div>
    </section>
               

    

    <a href="{{ path('projets.index') }}"class="btn btn-primary" style="background-color: #D199B6">back to list</a>
{% endblock %}