{% block title %}Modifier un podcast{% endblock %}

{% block body %}
    
        <section class="container pt-4">
            <div class="row">
                <div class="col">

                    <h1>Modifier un podcast</h1>
                        {{ form_start(podcastForm) }}
                            <fieldset class="mb-3">
                                {{ form_row(podcastForm.illustration) }}
                                {{ form_row(podcastForm.titre) }} 
                                {{ form_row(podcastForm.content) }}
                                {{ form_row(podcastForm.autheur) }}
                                {{ form_row(podcastForm.lien) }}
                                {{ form_row(podcastForm.created_at) }}

                    <button type="submit" class="btn my-3" style="background-color: #D199B6" ;>Modifier le podcast</button>
                    {{ form_end(podcastForm) }}
                </div>
            </div>
        </section>

        {# {{ include('podcasts/_form.html.twig', {'button_label': 'Update'}) }} #}

        <a href="{{ path('podcasts.index') }}"class="btn btn-primary" style="background-color: #D199B6" >Retour à la liste</a>
{% endblock %}