{% block title %}Création podcast{% endblock %}

{% block body %}
    <section class="container position-relative">
        <div class="row">
            <div class="col">

                <h1>Création de nouveaux Podcasts</h1>
                     {{ form_start(podcastForm) }}
                        <fieldset class="mb-3">
                            {{ form_row(podcastForm.illustration) }}
                                {{ form_row(podcastForm.titre) }} 
                                {{ form_row(podcastForm.content) }}
                                {{ form_row(podcastForm.autheur) }}
                                {{ form_row(podcastForm.lien) }}
                                {{ form_row(podcastForm.created_at) }}

                 <button type="submit" class="btn my-3" style="background-color: #D199B6" ;>Ajouter un podcast</button>
                {{ form_end(podcastForm) }}
            </div>
        </div>
    </section>
               

    

    <a href="{{ path('podcasts.index') }}"class="btn btn-primary" style="background-color: #D199B6">back to list</a>
{% endblock %}